.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cp-sec {
  padding-block: 40px;
  background-color: var(--green-bg);
}
.cp-header {
  font-size: 56px;
  font-weight: 600;
  line-height: 52px;
  margin: 0px;
  padding-bottom: 32px;
  display: block;
}
.cp-para {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  padding-bottom: 32px;
}
.cp-main {
  display: flex;
  align-items: start;
  gap: 40px;
}
.cp-content-offers {
  background-color: white;
  border: 0.85px solid #e5f4f2;
  border-radius: 17.07px;
  padding-block: 12px;
  padding-inline: 16px;
  margin-bottom: 30px;
}
.cp-content {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cp-btn-main a span {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.21px;
  padding-right: 0px;
}
.cp-btn-main .btn {
  padding-inline: 0px;
  padding-block: 0px;
  padding: 14px;
  width: 100px;
}
.cp-content-left {
  width: 80%;
}
.cp-content-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  padding-bottom: 8px;
  color: var(--black-light);
}
.cp-content-link a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  color: #003dff;
  text-decoration: underline;
  padding-bottom: 8px;
}
.cp-content-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}
.cp-left {
  position: sticky;
  top: 100px;
}
.cp-headder-hidden {
  display: none;
}
@media screen and (max-width: 768px) {
  .cp-header {
    display: none;
  }
  .cp-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 16px;
  }
  .cp-headder-hidden {
    display: block;

    font-size: 28px;

    line-height: 30px;
  }

  .cp-left {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
  }
  .pagination {
    display: none;
  }
  .cp-main {
    display: block;
    gap: 0px;
  }
  .cp-content {
    flex-direction: column;
  }
  .cp-content-left {
    width: 100%;
  }
  .cp-btn-main .btn {
    width: 200px;
    justify-content: center;
  }
  .cp-content-offers {
    margin-bottom: 36px;
  }
  .cp-content-header {
    font-size: 16px;
    line-height: 19.36px;
  }
  .cp-content-link a {
    font-size: 14px;
    line-height: 16.94px;
  }
  .cp-content-para {
    font-size: 14px;
    line-height: 16.94px;
  }
}
